#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	cp config/config.toml.ubuntu config.toml
	GOCACHE="$$(pwd)/gocache" GOPATH="$$(pwd)/gopath" GO111MODULE=off make binary
