#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	# ischroot || bash vendor.sh

override_dh_auto_test:

override_dh_auto_build:
	cp config/config.toml.ubuntu config.toml
	env GOCACHE="$(shell pwd)/gocache" \
		GOPATH="$(shell pwd)/gopath" \
		GO111MODULE=off make binaries
